<!-- when a user gets logged in or clicks to view lists, routes to 'list/index'
 -->
<h3>Here are all lists!</h3>
  <%= form_for(@list) do |f| %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>

