<!-- Once user clicks on a particular list or edits , routes to '/lists/show'
 -->
<h3><%= @list.name %></h3>
  <%= form_for([@list, @task]) do |f| %>
  <form action="/lists" method="GET">
    <%= f.text_field :name %>
    <a href="/lists/:list_id/tasks"><%= f.submit %></a>
  <% end %>

  <!-- :url => update_article_path(@article) -->